/*
 * hilite.css
 *
 * Copyright (C) 2016, 2017  Sebastian Heimpel and Henri Lesourd
 *
 *  This file is part of hilite.js.
 *
 *  hilite.js is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  hilite.js is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with hilite.js.  If not, see <http://www.gnu.org/licenses/>.
 */

body { display:none; } /* For preventing pre-display of non-yet highlighted code */
.hilite { background-color: #E0E0E0; font-size:20px; }

.html {  }
.phtml {  }
.php {  }
.pphp {  } /* Plaintext PHP */
.js {  } /* Block Javascript */
.pjs { /*font-size:1.1rem;*/  } /* Plaintext Javascript */

.Comment { font-style:italic; }
.Operator { color: #CC66FF;  }
.Keyword { color: #CC66FF;  }
.Predef { color: #CC66FF;  }
.ConstString { color: #CC66FF;  }
.Symbol {   }
.Variable { color: #0033FF;  }

.Block { display:table;font-family:consolas;border:1px solid; }
.Inline { display:inline; }

.html.xmlPI { color: #0000FF;  }
.html.Comment { color: #909090;  }
.html.CommentContent { color: #606060; font-style:italic; }
.html.Tag { color: #808000;  }
.html.Attr { color: #F00000; }
.html.AttrVal { color: #0000F0; }
.html.Text { color: #000000;  }

.phtml.ListOfTT { color: magenta; } /* for <ltt>...</ltt> tags */
.phtml.xmlPI { color: #0000FF;  }
.phtml.Comment { color: #909090;  }
.phtml.CommentContent { color: #606060; font-style:italic; }
.phtml.Tag { color: #808000;  }
.phtml.Attr { color: #F00000; }
.phtml.AttrVal { color: #0000F0; }
.phtml.Text { color: #000000;  }

.php.Comment { color: #606060; font-style:italic; }
.php.Operator { color: #FF0000;  }
.php.Keyword { color: #A05000;  }
.php.Predef { color: #A0A000;  }
.php.ConstString { color: #00A000;  }
.php.Symbol { color: #000000;  }
.php.Variable { color: #0000A0; font-style:italic; }

.pphp.ListOfTT { color: magenta; } /* for <ltt>...</ltt> tags */
.pphp.Comment { color: #606060; font-style:italic; }
.pphp.Operator { color: #FF0000; }
.pphp.Keyword { color: #A05000; }
.pphp.Predef { color: #A0A000; }
.pphp.ConstString { color: #00A000; }
.pphp.Symbol { color: #000000; }
.pphp.Variable { color: #0000A0; font-style:italic; }

.js.Comment { color: #606060; font-style:italic; }
.js.Operator { color: #FF0000;  }
.js.Keyword { color: #A05000;  }
.js.Predef { color: #A0A000;  }
.js.ConstString { color: #00A000;  }
.js.Symbol { color: #000000;  }
.js.Variable { color: #0000A0; font-style:italic; }

.pjs.ListOfTT { color: magenta; } /* for <ltt>...</ltt> tags */
.pjs.Comment { color: #606060; font-style:italic; }
.pjs.Operator { color: #FF0000; }
.pjs.Keyword { color: #A05000; }
.pjs.Predef { color: #A0A000; }
.pjs.ConstString { color: #00A000; }
.pjs.Symbol { color: #000000; }
.pjs.Variable { color: #0000A0; font-style:italic; }

code { font-family:consolas;/*font-size:1.0rem;*/ }
tt { font-family:consolas;/*font-size:1.0rem;*/ }
